.theme {
  &--light {
    &.v-input {
      .v-text-field {
        &__details {
          padding: 0;
        }
      }

      .v-messages {
        &__message {
          font-weight: bold;
          line-height: 16px;
        }
      }

      &--is-disabled {
        @apply bg-black bg-opacity-[0.06] text-black #{!important};

        opacity: 0.87;
        border: none;

        .v-input {
          &__slot {
            fieldset {
              border: none;

              @apply bg-black bg-opacity-[0.06] text-black;
            }

            input {
              @apply text-black text-opacity-[0.87];
            }
          }
        }

        .v-select {
          &__selection {
            &--disabled {
              @apply text-black #{!important};
            }
          }
        }
      }
    }

    &.v-menu {
      &__content {
        max-width: 0;
      }
    }
  }
}
