.the-data-table {
  &__action {
    display: flex;
    gap: 20px;
    flex-flow: column wrap;
    justify-content: space-between;

    @include bp(sm) {
      flex-direction: row;
      align-items: center;
    }

    &__left,
    &__right {
      display: inherit;
      align-items: inherit;
      gap: inherit;
      flex-wrap: wrap;
    }

    &__left {
      flex-direction: inherit;
      flex: 1;
    }

    &__right {
      flex-direction: row;
      justify-content: flex-end;

      @include bp(sm) {
        justify-content: right;
      }
    }

    &__bulk-operation {
      display: inherit;
      align-items: center;

      @include bp(md) {
        margin-left: 48px;
      }

      &__select {
        flex: 1;
        margin-left: 12px;

        @include bp(sm) {
          max-width: 130px;
        }
      }
    }

    &__label {
      font-weight: bold;
      text-align: center;

      @include bp(sm) {
        text-align: left;
      }
    }

    &__page-size {
      max-width: 110px;

      @include bp(sm) {
        margin-left: 12px;
      }
    }
  }

  ::v-deep &__table {
    .v-data-table {
      &__wrapper {
        border: 1px solid;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
          0 1px 5px rgb(0 0 0 / 12%);

        @apply tw-border-gray-400;
      }
    }

    &.clickable {
      tbody tr {
        @apply tw-cursor-pointer;
      }
    }
  }
}
